// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Lato', sans-serif;
$font-size-base: 1.0rem;
$line-height-base: 1.6;
$input-placeholder-color: rgba(73, 80, 87, 0.4);

// Colors
$blue: #2f98d4;
$indigo: #4b4ca1;
$purple: #5a4bab;
$pink: #ec1461;
$red: #f24444;
$orange: #f56b38;
$yellow: #fba330;
$green: #2ca967;
$teal: #2ea290;
$cyan: #32a5c1;

$primary: $blue;
$secondary: $teal;
