:root {
    /*Red: rgb(195, 6, 48);*/
    --primary: rgb(242, 72, 70);
    --primary-dark: rgba(212, 42, 40, 1);
    --primary-70: rgba(242, 72, 70, 0.7);
    --primary-50: rgba(242, 72, 70, 0.5);
    --primary-30: rgba(242, 72, 70, 0.3);
    --primary-10: rgba(242, 72, 70, 0.1);
    --logo: #252d37;
    --sidebar-icon: #fafafa;
}

.bg-grad-sidebar {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgb(238, 44, 85)),
        to(rgb(249, 145, 48))
    );

    background-image: linear-gradient(
        0deg,
        rgb(238, 44, 85),
        rgb(249, 145, 48)
    );
}
