// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// Variables
@import 'admin/variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Packages
@import '~@fortawesome/fontawesome-free/css/all.css';

// Custom SCSS
@import 'admin/custom';
